:host {
  position: relative;
  display: block;
}

form {
  padding: 2rem;
  border: 1px solid #efefef;
}

.form__wrapper {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.title-page {
  margin-bottom: 2rem;
}
