$colorHeaderOrder: #eef0f2;
$borderderBottomHeader: 1px solid #dee2e6;
.order-item__header,
.order-item__body {
  padding: 1rem;
}
.order-item__header {
  font-size: 11px;
  background-color: $colorHeaderOrder;
  display: flex;
  justify-content: space-between;

  border: borderderBottomHeader;
}

.order-item__Header--left {
  display: flex;
  width: 60%;
  & > * {
    margin-right: 2rem;
  }
}

.order-item__header__total__title,
.order-item__header__date__title,
.order-item__header__receiver__title,
.order-item__header__receiver__order-number span {
  text-transform: uppercase;
}

.order-item__body__delivery {
  margin-bottom: 1rem;
}

.order-item__body__delivery__status {
  font-size: 17px;
  font-weight: 700;
}

.order-item__body__delivery__info {
  font-size: 13px;
}

.order-item__body__product-list {
  & > .order-item__body__product:not(:first-child) {
    border-top: 1px solid #efefef;
  }
}

.order-item__body__product {
  display: flex;
  align-items: center;
}
.order-item__body__product__image {
  padding: 1rem;
  img {
    max-width: 100px;
    width: 100px;
  }
}

.order-item__body__product__price {
  color: red;
}

@media (max-width: 768px) {
  .order-item__header {
    flex-direction: column;
  }
  .order-item__Header--left {
    width: 100%;
    flex-direction: column;
  }
  .order-item__header__date,
  .order-item__header__total,
  .order-item__header__receiver {
    display: flex;
    flex-direction: row;
  }
  .order-item__header__date__title,
  .order-item__header__total__title,
  .order-item__header__receiver__title {
    margin-right: 0.7rem;
  }

  .order-item__body__product {
    flex-direction: column;
  }
  .order-item__body__product__info > * {
    margin-bottom: 0.3rem;
  }
}
