<!-- <div class="basket-list">aaa</div>
<div class="basket-list">
  <div clas="basket-list__total">
    <span>Subotal: EUR 430 €</span>
    <button class="btn btn-warning">Tramitar pedido</button>
  </div>
  <div class="basket-list__products">
    <div class="basket-list__products__item">
      <div class="basket-list__products__image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/51FWAWxZ0hL._AC_SX679_.jpg"
        />
      </div>
      <div class="basket-list__products__info">
        <div class="basket-list__products__info__name">producto 1</div>
        <div class="basket-list__products__info__price">ERU 10</div>
      </div>
    </div>
  </div>
</div> -->
