.detail-section {
  display: flex;
}
.action-section {
  padding: 0 1rem 1rem 1rem;

  width: 35%;
}

.action-section__buy {
  margin-bottom: 1rem;
}

.detail-section__reviews {
  border-top: 1px solid #efefef;
  margin-top: 2rem;
  h5 {
    padding: 1rem 0;
  }
}

@media (max-width: 992px) {
  .action-section {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .detail-section {
    flex-direction: column;
  }
  .action-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
