@import "./../../../styles/colors.scss";
:host {
  padding-bottom: 2rem;
  display: block;
}

.banner {
  padding: 1rem 0;
  img {
    margin: 0 auto;
    display: block;
  }
}

.border-top-card {
  padding-top: 1rem;
  border-top: 2px solid $color-border;
}

.products-main {
  display: grid;
  grid-template-columns: 15% 75%;
}

app-product-filter {
  margin-left: 25%;
}
