<footer class="navbar">
  <div class="container footer-wrap">
    <ul>
      <li>
        <a href="#" class="footer-wrap__link--white"
          >Condiciones de Uso y de venta</a
        >
      </li>
      <li>
        <a href="#" class="footer-wrap__link--white">Aviso de privacidad</a>
      </li>
      <li><a href="#" class="footer-wrap__link--white">Área legal</a></li>
      <li><a href="#" class="footer-wrap__link--white">Cookies</a></li>
      <li>
        <a href="#" class="footer-wrap__link--white"
          >Publicidad basada en intereses</a
        >
      </li>
    </ul>
    <span class="footer-wrap__reserved-rights">
      1996-2020, E-commerce.com inc o afilidados. Todos los derechos reservados
    </span>
  </div>
</footer>
