<footer class="navbar">
  <div class="footer">
    <div class="footer__contact">
      <div class="footer__contact__information">
        <span class="column-title">Información de contacto</span>
        <div class="footer__contact__information__address">
          <span class="title-section">Dirección</span>
          <span>Calatraba, 6, 08017 Barcelona</span>
        </div>
        <div class="footer__contact__information__phone">
          <span class="title-section">Teléfono</span>
          <span>+34 666666666</span>
        </div>
        <div class="footer__contact__information__email">
          <span class="title-section">E-mail</span>
          <span>be-commerce@mail.com</span>
        </div>
        <div class="footer__contact__information__time">
          <span class="title-section">Horario de atención</span>
          <span>Lun - Vie / 10:00 - 14:00</span>
        </div>
      </div>
      <div class="footer__contact__client">
        <span class="column-title">Atención al cliente</span>
        <div class="footer__contact__client__time">
          <span class="title-section">Horario de atención</span>
          <span>Lun - Vie / 10:00 - 14:00</span>
        </div>
        <div class="footer__contact__client__email">
          <span class="title-section">E-mail</span>
          <span>atencion.cliente@mail.com</span>
        </div>
        <div class="footer__contact__client__whatsapp">
          <span class="title-section">Whatsapp</span>
          <span>+34 654 987 765</span>
        </div>
      </div>
    </div>
    <div class="container footer-wrap">
      <ul>
        <li>
          <a href="#" class="footer-wrap__link--white"
            >Condiciones de Uso y de venta</a
          >
        </li>
        <li>
          <a href="#" class="footer-wrap__link--white">Aviso de privacidad</a>
        </li>
        <li><a href="#" class="footer-wrap__link--white">Área legal</a></li>
        <li><a href="#" class="footer-wrap__link--white">Cookies</a></li>
        <li>
          <a href="#" class="footer-wrap__link--white"
            >Publicidad basada en intereses</a
          >
        </li>
      </ul>
      <span class="footer-wrap__reserved-rights">
        1996-2020, E-commerce.com inc o afilidados. Todos los derechos
        reservados
      </span>
    </div>
  </div>
</footer>
