.product-filter__category {
  flex-direction: column;
}

.product-filter__stars,
.product-filter__rating {
  flex-direction: column;
}

.product-filter__rating {
}

/* .product-filter {
  width: 15%;
  background-color: #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
} */
